body {
  text-align: center;
  color: lightpink;
  text-shadow: hotpink 5px 5px 10px;


  background-color: deeppink;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  .medium{
    width: 500px;
    height: auto;

    border: solid 5px hotpink;

    transition: all 750ms ease;
    box-shadow: hotpink 5px 5px 100px;
    border-radius: 50%;

  }

  .medium:hover {
    transform: rotate(720deg) scale(2.5);
    transition: all 10000ms ease;
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
